<form style="display: flex; flex-direction: column; padding: 50px;" [formGroup]="form" aria-modal="true">

    <mat-form-field class="input">
      <mat-label>Введите имя пользователя</mat-label>
      <input matInput formControlName="name">
      <mat-error>Некорректное значение</mat-error>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Введите email</mat-label>
      <input matInput formControlName="email">
      <mat-error>Некорректное значение</mat-error>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Введите wesite</mat-label>
      <input matInput formControlName="website">
      <mat-error>Некорректное значение</mat-error>
    </mat-form-field>

    <mat-form-field formGroupName="company" class="input">
      <mat-label>Введите companyName</mat-label>
      <input matInput formControlName="name">
      <mat-error>Некорректное значение</mat-error>
    </mat-form-field>

    <button class="button-form" type="submit"
      mat-raised-button 
      matIconSuffix
      mat-raised-button
      mat-raised-button-disabled
      [disabled]="form.invalid"
      (click)="submitForm()"> Edit User
      <mat-icon>add</mat-icon>
    </button>

</form>