<form style="display: flex; flex-direction: column; padding: 50px;" [formGroup]="form">

    <mat-form-field class="input">
      <mat-label>Введите имя пользователя</mat-label>
      <input matInput formControlName="name">
      <mat-error>Некорректное значение</mat-error>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Введите email</mat-label>
      <input matInput formControlName="email">
      <mat-error>Некорректное значение</mat-error>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Введите wesite</mat-label>
      <input matInput formControlName="website">
      <mat-error>Некорректное значение</mat-error>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Введите companyName</mat-label>
      <input matInput formControlName="companyName">
      <mat-error>Некорректное значение</mat-error>
    </mat-form-field>

    <button mat-raised-button class="button-form" type="submit" 
    (click)="formInput()" matIconSuffix mat-raised-button
    mat-raised-button-disabled
    [disabled]="form.invalid"
    [mat-dialog-close]="userWithUpdatedFielts"> Edit User
      <mat-icon>add</mat-icon>
    </button>

</form>