.box-form{
    margin: 15px;
}

.form-input{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
}

.input{
    width: 300px;
}

.button-form{
    width: 150px;
    margin-top: 15px;
}