<section>
    <div class="header">
     <div class="header_left">
       <div class="logo">
         <img src="/assets/headers/header_logotip.svg" alt="logo-header">
       </div>
       <nav class="navigation">
        <a href="" class="header-nav" routerLink="todo">Главная</a>
        <div  class="header-nav" routerLink="users">О компании </div>
        <a href="" class="header-nav" *ngIf="!isShowCatalog">Кaталог</a>
       </nav>
       <button (click)="isShowCatalog = !isShowCatalog" style="background-color: white;"> Показать/скрыть каталог </button>
       <button (click)="toUpperCase()"> Сделать буквы большими/маленькими </button>
     </div>
     <div class="header_right">
       <img  src="/assets/headers/header_phone.svg" alt="Phone">
       <a class="num" href="tel:+79650842929">+7 (965) 084-29-29</a>
       <img class="heart" src="/assets/headers/header_like.svg" alt="Heart"> 
       <button class="cart-button">
         <span><img src="/assets/headers/header_shop.svg" alt="Cart Icon" class="cart-icon" /></span>
         <span class="cart-text">Пусто</span>
       </button>
     </div>
    </div>
   </section>
   
   <section>
    <div class="header-2">
     <div class="header-2-left">
       <img class="sel" src="/assets/headers/header_three.svg" alt="">
       <div *ngFor="let item of menuItems" class="header-2-left_txt"> {{item}} </div> 
     </div>
   <div class="header-2-right">
     <form class="sea">
     <input class="search" type="search" placeholder="Поиск, например Круг зачистной">
     </form>
     <div>
       <img>
       <button class="country" type="menu" ><img class="map" src="/assets/headers/header_map.svg" alt="">Москва</button>
     </div>
   </div>
    </div>
   </section>
   