<div class="block-about-company">
<div class="margin-block">
    <div class="home-about">
        <button class="home" routerLink="home">Главная</button>
        <img src="/assets/Arrow 7.svg" alt="">
        <span class="home">О компании</span>
    </div>
    <div class="about">О компании</div>
</div>
</div>
<div class="map">
    <div class="contacts">
        <div class="number-mail">
            <div style="display: flex;">
                <img class="phone" src="/assets/phone-black.svg">
                <div class="number">
                    <div class="text-number">Контактный телефон</div>
                    <a class="number-1" href="tel:+78123090934">+ 7 (812) 309-09-34</a>
                    <a class="number-2" href="tel:+79650842909">+ 7 (965) 084-29-09</a>
                </div>
                </div>
                <div style="display: flex;">
                <img class="phone" src="/assets/mail-black.svg">
                <div class="number">
                    <div class="text-number">Электронная почта</div>
                    <a class="number-1" href="mailto:tustin78@mail.ru">tustin78mail.ru</a>
                    <a class="number-2" href="mailto:info@tustin.ru">infotustin.ru</a>
                </div>
                </div>
        </div>
        <div class="line"></div>
        <div class="operating-mode">
            <div class="operating-text">Режим работы</div>
            <div class="mode-text">
                <div class="text">
                    <div class="txt1">Пн - ПТ:</div>
                    <div class="txt2">9:00 - 18:00</div>
                </div>
                <div class="text">
                    <div class="txt1">Сб:</div>
                    <div class="txt2">10:00 - 17:00</div>
                </div>
                <div class="text">
                    <div class="txt1">Вс:</div>
                    <div class="txt2">Выходной</div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="adress"></div>
        <div class="name"></div>
        <div class="inn"></div>
        <div class="ogrn"></div>
        <div class="fact-adress"></div>
        <div class="city"></div>
        <div class="bik"></div>
        <div class="r/s"></div>
        <div class="k/c"></div>
        <div class="okpo"></div>
    </div>
</div>