<section style="background: #4B565E;">
  <button class="showMan"  (click)="isShowMan = !isShowMan" >{{ isShowMan  ? "Скрыть" : "Показать"}} Грустного мужика</button>
  <div class="man-box" *ngIf="isShowMan">
    <div class="vektorText"><img src="/assets/vektor.svg" alt="">
     <span class="text-vektor">Инструмент для вашего бизнеса</span>
    </div>
   </div>
</section>
  
  <section>
   <div class="content-container">
    <div class="frame">
      <div class="frame_card">
      <img class="frame_card-img" src="/assets/brick.svg" alt="">
      <span class="frame_card-text"> 
        <span class="frame_card-text-1">Большой ассортимент</span>
        <span class="frame_card-text-2">строительных материалов всегда в наличии</span>
      </span>
      </div>
      <div class="frame_card">
      <img class="frame_card-img" src="/assets/car.svg" alt="">
    <span class="frame_card-text">
      <span class="frame_card-text-1">Доставка стройматериалов</span>
      <span class="frame_card-text-2">в течении четырех часов или в любое удобное время</span>
    </span>  
      </div>
      <div class="frame_card">
      <img class="frame_card-img" src="/assets/like.svg" alt="">
    <span class="frame_card-text">
      <span class="frame_card-text-1">Многоуровневая система</span>
      <span class="frame_card-text-2">управления качеством по стандарту ISO 9001</span>
    </span>
      
      </div>
    </div>
   <div class="item-cards">
    <div *ngFor="let item of newPages" class="item-cards-pagination">
     <button class="item-cards-pagination-button-active-button" 
     >{{item}}</button>
    </div>
   </div>
   </div>
  </section>
  
  <section>
    <div class="content-container-2">
    <div class="item-cards__grid">
      <div shadow class="item-cards__grid-left">
        <div class="item-cards__grid-left-text">
          Строительный отделочный инструмент
        </div>
        <div class="item-cards__grid-left-action">
          <span>Перейти в каталог</span>
          <a class="item-cards__grid-left-action-link">
            <img src="/assets/Arrow 6.svg" alt="">
          </a>
        </div>    
      </div>
      <div class="item-cards__grid-right">
        <div shadow class="item-cards__grid-right-block-t-l">
          <span class="item-cards__grid-right-block-t-l-text">Эмали</span>
          <div class="item-cards__grid-text-2-f-l">
            <div class="item-cards__grid-left-action">
              <span>Перейти в каталог</span>
              <a class="item-cards__grid-left-action-link">
                <img src="/assets/Arrow 6.svg" alt="">
              </a>
            </div>  
          </div>
        </div>
        <div shadow class="item-cards__grid-right-block-t-r">
          <span class="item-cards__grid-right-block-t-r-text">Лакокрасочные материалы</span>
          <div class="item-cards__grid-text-2">
            <div class="item-cards__grid-text-2-action">
              <span>Перейти в каталог</span>
              <a class="item-cards__grid-right-action-link">
                <img src="/assets/Arrow 6.svg" alt="">
              </a>
            </div> 
          </div> 
        </div>
        <div shadow class="item-cards__grid-right-block-b-l">
          <span class="item-cards__grid-right-block-b-l-text">Пены, клеи и герметики</span>
          <div class="item-cards__grid-text-2">
          <div class="item-cards__grid-text-2-action">
            <span>Перейти в каталог</span>
            <a class="item-cards__grid-right-action-link">
              <img src="/assets/Arrow 6.svg" alt="">
            </a>
          </div> 
        </div>
        </div>
        <div shadow class="item-cards__grid-right-block-b-r">
          <span class="item-cards__grid-right-block-b-r-text">Розетки и выключатели</span>
          <div class="item-cards__grid-text-2-f-l">
            <div class="item-cards__grid-text-2-action">
              <span>Перейти в каталог</span>
              <a class="item-cards__grid-right-action-link">
                <img src="/assets/Arrow 6.svg" alt="">
              </a>
            </div> 
          </div> 
        </div>
      </div>
    </div>
    </div>
  </section>
  
  <section>
    <div class="content-container-3">
     <div class="products">
      <span class="products-popular">Популярные товары</span>
      <a class="products-check" href="">Посмотреть все товары</a>
     </div>
    <div class="cleaning_circle-block">
     <div shadow class="cleaning_circle">
      <div class="circle">
        <div class="circle-heart">
          <img src="/assets/Frame 100.svg" alt="">
          <img src="/assets/heart.svg" alt="">
        </div>
      </div>
      <div class="circle-cleaning-text-1">Круг зачистной 125х6х22</div>
      <div class="circle-cleaning-text-2">Артикул 00004</div>
      <div class="price">
        <div class="price-per-pike">Цена за штуку</div>
        <div class="price-in-number">
          <div class="price-1">52 руб.</div>
          <div class="price-2">48 руб.</div>
        </div>
      </div>
      <div class="buying-quality">
        <div class="quality">
          <span class="quality-text">Количество</span>
          <div class="quality_plus_minus_1">
            <button class="quality_plus_minus">-</button>
            <span class="quality_1">1</span>
            <button class="quality_plus_minus">+</button>
          </div>
        </div>
        <div class="buying">
          <img src="/assets/buying-2.svg" alt="">
        </div>
      </div>
     </div>
     <div shadow class="cleaning_circle">
      <div class="circle">
        <div class="circle-heart">
          <img src="/assets/Frame 100.svg" alt="">
          <img src="/assets/heart.svg" alt="">
        </div>
      </div>
      <div class="circle-cleaning-text-1">Круг зачистной 125х6х22</div>
      <div class="circle-cleaning-text-2">Артикул 00004</div>
      <div class="price">
        <div class="price-per-pike">Цена за штуку</div>
        <div class="price-in-number">
          <div class="price-1">52 руб.</div>
          <div class="price-2">48 руб.</div>
        </div>
      </div>
      <div class="buying-quality">
        <div class="quality">
          <span class="quality-text">Количество</span>
          <div class="quality_plus_minus_1">
            <button class="quality_plus_minus">-</button>
            <span class="quality_1">1</span>
            <button class="quality_plus_minus">+</button>
          </div>
        </div>
        <div class="buying">
          <img src="/assets/buying-2.svg" alt="">
        </div>
      </div>
     </div>
     <div shadow class="cleaning_circle">
      <div class="circle">
        <div class="circle-heart-3">
          <img class="img-heart-3" src="/assets/new.svg" alt="">
          <img class="img-heart-3" src="/assets/heart.svg" alt="">
          <img class="img-heart-3" src="/assets/Frame 100.svg" alt="">
        </div>
      </div>
      <div class="circle-cleaning-text-1">Круг зачистной 125х6х22</div>
      <div class="circle-cleaning-text-2">Артикул 00004</div>
      <div class="price">
        <div class="price-per-pike">Цена за штуку</div>
        <div class="price-in-number">
          <div class="price-2">52 руб.</div>
        </div>
      </div>
      <div class="buying-quality">
        <div class="quality">
          <span class="quality-text">Количество</span>
          <div class="quality_plus_minus_1">
            <button class="quality_plus_minus">-</button>
            <span class="quality_1">1</span>
            <button class="quality_plus_minus">+</button>
          </div>
        </div>
        <div class="buying">
          <img src="/assets/buying-2.svg" alt="">
        </div>
      </div>
     </div>
     <div shadow class="cleaning_circle">
      <div class="circle">
        <div class="circle-heart">
          <img src="/assets/new.svg" alt="">
          <img src="/assets/heart.svg" alt="">
        </div>
      </div>
      <div class="circle-cleaning-text-1">Круг зачистной 125х6х22</div>
      <div class="circle-cleaning-text-2">Артикул 00004</div>
      <div class="price">
        <div class="price-per-pike">Цена за штуку</div>
        <div class="price-in-number">
          <div class="price-2">52 руб.</div>
        </div>
      </div>
      <div class="buying-quality">
        <div class="quality">
          <span class="quality-text">Количество</span>
          <div class="quality_plus_minus_1">
            <button class="quality_plus_minus">-</button>
            <span class="quality_1">1</span>
            <button class="quality_plus_minus">+</button>
          </div>
        </div>
        <div class="buying">
          <img src="/assets/buying-2.svg" alt="">
        </div>
      </div>
     </div>
    </div>
    </div>
  </section>
  
  <section>
    <div shadow class="block-link-to-catalog">
      <div>
    <div class="block-link-text">Более 10 000 наименований</div>
    <div class="block-link-text-2">Инструмент для вашего бизнеса, разнообразных марок</div>
    </div>
    <div>
    <a class="link-catalog-text">Перейти в каталог</a>
    </div>
    </div>
  </section>

<section>
  <div class="content-container-3">
   <div class="products">
    <span class="products-popular">Новинки</span>
    <a class="products-check" href="">Посмотреть все товары</a>
   </div>
  <div class="cleaning_circle-block">
   <div shadow class="cleaning_circle">
    <div class="circle">
      <div class="circle-heart">
        <img src="/assets/new.svg" alt="">
        <img src="/assets/heart.svg" alt="">
      </div>
    </div>
    <div class="circle-cleaning-text-1">Круг зачистной 125х6х22</div>
    <div class="circle-cleaning-text-2">Артикул 00004</div>
    <div class="price">
      <div class="price-per-pike">Цена за штуку</div>
      <div class="price-in-number">
        <div class="price-2">52 руб.</div>
      </div>
    </div>
    <div class="buying-quality">
      <div class="quality">
        <span class="quality-text">Количество</span>
        <div class="quality_plus_minus_1">
          <button class="quality_plus_minus">-</button>
          <span class="quality_1">1</span>
          <button class="quality_plus_minus">+</button>
        </div>
      </div>
      <div class="buying">
        <img src="/assets/buying-2.svg" alt="">
      </div>
    </div>
   </div>
   <div shadow class="cleaning_circle">
    <div class="circle">
      <div class="circle-heart">
        <img src="/assets/new.svg" alt="">
        <img src="/assets/heart.svg" alt="">
      </div>
    </div>
    <div class="circle-cleaning-text-1">Круг зачистной 125х6х22</div>
    <div class="circle-cleaning-text-2">Артикул 00004</div>
    <div class="price">
      <div class="price-per-pike">Цена за штуку</div>
      <div class="price-in-number">
        <div class="price-2">52 руб.</div>
      </div>
    </div>
    <div class="buying-quality">
      <div class="quality">
        <span class="quality-text">Количество</span>
        <div class="quality_plus_minus_1">
          <button class="quality_plus_minus">-</button>
          <span class="quality_1">1</span>
          <button class="quality_plus_minus">+</button>
        </div>
      </div>
      <div class="buying">
        <img src="/assets/buying-2.svg" alt="">
      </div>
    </div>
   </div>
   <div shadow class="cleaning_circle">
    <div class="circle">
      <div class="circle-heart">
        <img src="/assets/new.svg" alt="">
        <img src="/assets/heart.svg" alt="">
      </div>
    </div>
    <div class="circle-cleaning-text-1">Круг зачистной 125х6х22</div>
    <div class="circle-cleaning-text-2">Артикул 00004</div>
    <div class="price">
      <div class="price-per-pike">Цена за штуку</div>
      <div class="price-in-number">
        <div class="price-2">52 руб.</div>
      </div>
    </div>
    <div class="buying-quality">
      <div class="quality">
        <span class="quality-text">Количество</span>
        <div class="quality_plus_minus_1">
          <button class="quality_plus_minus">-</button>
          <span class="quality_1">1</span>
          <button class="quality_plus_minus">+</button>
        </div>
      </div>
      <div class="buying">
        <img src="/assets/buying-2.svg" alt="">
      </div>
    </div>
   </div>
   <div shadow class="cleaning_circle">
    <div class="circle">
      <div class="circle-heart">
        <img src="/assets/new.svg" alt="">
        <img src="/assets/heart.svg" alt="">
      </div>
    </div>
    <div class="circle-cleaning-text-1">Круг зачистной 125х6х22</div>
    <div class="circle-cleaning-text-2">Артикул 00004</div>
    <div class="price">
      <div class="price-per-pike">Цена за штуку</div>
      <div class="price-in-number">
        <div class="price-2">52 руб.</div>
      </div>
    </div>
    <div class="buying-quality">
      <div class="quality">
        <span class="quality-text">Количество</span>
        <div class="quality_plus_minus_1">
          <button class="quality_plus_minus">-</button>
          <span class="quality_1">1</span>
          <button class="quality_plus_minus">+</button>
        </div>
      </div>
      <div class="buying">
        <img src="/assets/buying-2.svg" alt="">
      </div>
    </div>
   </div>
  </div>
  </div>
</section>