.user-block{
    display: flex;
    flex-wrap: wrap;
    width: 1360px;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 1px solid #3C3C3B;
    border-radius: 20px;
    background: #4b565e;
}

.users {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    align-self: center;
    justify-content: center;
    color: #F0BA4E;
}
