<div class="user">
    <mat-card appearance="outlined">
        <mat-card-content>{{user.name | customUpperCase}}</mat-card-content>
      </mat-card>
    <mat-card appearance="outlined">
        <mat-card-content>{{user.email | customUpperCase}}</mat-card-content>
      </mat-card>
    <mat-card appearance="outlined">
        <mat-card-content>{{user.website | customUpperCase}}</mat-card-content>
      </mat-card>
    <mat-card appearance="outlined">
        <mat-card-content>{{user.company.name}}</mat-card-content>
      </mat-card>
    <button class="delete-user" (click)="openDeleteDialog()">Удалить Пользователя</button>
    <button class="delete-user" (click)="openDialog()">Редактировать Пользователя</button>
</div>
