<section>
 <div class="header">
  <div class="header_left">
    <div class="logo">
      <img src="/assets/Frame.svg" alt="logo-header">
    </div>
    <nav class="navigation">
     <a href="" class="header-nav">Главная</a>
     <a href="" class="header-nav">О компании</a>
     <a href="" class="header-nav">Кaталог</a>
    </nav>
  </div>
  <div class="header_right">
    <img  src="/assets/Phone.svg" alt="Phone">
    <a class="num" href="tel:+79650842929">+7 (965) 084-29-29</a>
    <img class="heart" src="/assets/heart 1.svg" alt="Heart"> 
    <button class="cart-button">
      <span><img src="/assets/cart.svg" alt="Cart Icon" class="cart-icon" /></span>
      <span class="cart-text">Пусто</span>
    </button>
  </div>
 </div>
</section>

<section>
 <div class="header-2">
  <div class="header-2-left">
    <img class="sel" src="/assets/light.svg" alt="">
    <button type="button" class="header-2-left_txt">Кaталог</button>
    <button type="button" class="header-2-left_txt">Стройматериалы</button>
    <button type="button" class="header-2-left_txt">Инструменты</button>
    <button type="button" class="header-2-left_txt">Электрика</button>
    <button type="button" class="header-2-left_txt">Интерьер и одежда</button>
  </div>
<div class="header-2-right">
  <form class="sea">
  <input class="search" type="search" placeholder="Поиск, например Круг зачистной">
  </form>
  <div>
    <img>
    <button class="country" type="menu" ><img class="map" src="/assets/map-pin.svg" alt="">Москва</button>
  </div>
</div>
 </div>
</section>

<section>
 <div>
  <img class="background-big" src="/assets/Rectangle 5.png" alt="">
 </div>
</section>

<section>
 <div class="content-contaier">
  <div class="frame">
    <div class="frame_card">
    <img class="frame_card-img" src="/assets/brick.svg" alt="">
    <span class="frame_card-text"> 
      <span class="frame_card-text-1">Большой ассортимент</span>
      <span class="frame_card-text-2">строительных материалов всегда в наличии</span>
    </span>
    </div>
    <div class="frame_card">
    <img class="frame_card-img" src="/assets/car.svg" alt="">
  <span class="frame_card-text">
    <span class="frame_card-text-1">Доставка стройматериалов</span>
    <span class="frame_card-text-2">в течении четырех часов или в любое удобное время</span>
  </span>  
    </div>
    <div class="frame_card">
    <img class="frame_card-img" src="/assets/like.svg" alt="">
  <span class="frame_card-text">
    <span class="frame_card-text-1">Многоуровневая система</span>
    <span class="frame_card-text-2">управления качеством по стандарту ISO 9001</span>
  </span>
    
    </div>
  </div>
 <div class="item-cards">
  <div class="item-cards-pagination">
   <button class="item-cards-pagination-button active-button">1</button>
   <button class="item-cards-pagination-button">2</button>
   <button class="item-cards-pagination-button">3</button>
   <button class="item-cards-pagination-button">4</button>
   <button class="item-cards-pagination-button">5</button>
  </div>
 </div>
 </div>
</section>

<section>
  <div class="content-contaier-2">
  <div class="item-cards__grid">
    <div class="item-cards__grid-left">
      <div class="item-cards__grid-left-text">
        Строительный отделочный инструмент
      </div>
      <div class="item-cards__grid-left-action">
        <span>Перейти в каталог</span>
        <a class="item-cards__grid-left-action-link">
          <img src="/assets/Arrow 6.svg" alt="">
        </a>
      </div>    
    </div>
    <div class="item-cards__grid-right">
      <div class="item-cards__grid-right-block-t-l">
        <span class="item-cards__grid-right-block-t-l-text">Эмали</span>
      </div>
      <div class="item-cards__grid-right-block-t-r">
        <span class="item-cards__grid-right-block-t-r-text">Лакокрасочные материалы</span>
      </div>
      <div class="item-cards__grid-right-block-b-l">
        <span class="item-cards__grid-right-block-b-l-text">Пены, клеи и герметики</span>
      </div>
      <div class="item-cards__grid-right-block-b-r">
        <span class="item-cards__grid-right-block-b-r-text">Розетки и выключатели</span>
      </div>
    </div>
  </div>
  </div>
</section>