<section>
    <div class="futer">
        <div class="futer-top-bot">
        <div class="futer-container">
        <div class="futer-left">
            <img class="logo" src="/assets/Frame.svg">
            <div class="contacts">
                <div style="display: flex;">
                <img class="phone" src="/assets/Phone.svg">
                <div class="number">
                    <div class="text-number">Контактный телефон</div>
                    <a class="number-1" href="tel:+78123090934">+ 7 (812) 309-09-34</a>
                    <a class="number-2" href="tel:+79650842909">+ 7 (965) 084-29-09</a>
                </div>
                </div>
                <div style="display: flex;">
                <img class="phone" src="/assets/sms.svg">
                <div class="number">
                    <div class="text-number">Электронная почта</div>
                    <a class="number-1" href="mailto:tustin78@mail.ru">tustin78mail.ru</a>
                    <a class="number-2" href="mailto:info@tustin.ru">infotustin.ru</a>
                </div>
                </div>
            </div>
        </div>
         <div class="futer-right">
            <div class="support-txt-mail">
            <span class="support-text-1">Остались вопросы?</span>
            <span class="support-text-2">Узнавайте первым о скидках, предложениях и событиях еженедельно в своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.</span>
            </div>
            <div class="support-mail">
             <div class="logo-in-sup">
             <img class="support-logo" src="/assets/sms.svg">
             <input class="support-input" type="email" placeholder="Введите свою почту">
             </div>
             <button class="support-button">Отправить</button>
            </div>
        </div>
        </div>
         <div class="futer-bottom">
            <div class="futer-nav">
                <nav class="nav">Главная</nav>
                <nav class="nav">О компании</nav>
                <nav class="nav">О компании</nav>
            </div>
            <div class="futer-nav-logo">
                <div class="img-nav-logo">
                    <img src="/assets/facebook.svg">
                    <img src="/assets/youtube.svg">
                    <img src="/assets/watsapp.svg">
                </div>
                <div class="year-block">
                <div class="year-prj">© 2000-2021, EDE</div>
                </div>
            </div>
         </div>
        </div>
    </div>
</section>
