.user-form {
  margin-left: 500px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.user-form-container {
  display: flex;
  flex-direction: column; /* Располагаем элементы вертикально */
  align-items: stretch; /* Растягиваем элементы по ширине контейнера */
  gap: 16px; /* Добавляем отступы между элементами */
}

mat-form-field {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
  margin-top: 20px;
}
