.form-box {
    width: 1200px;
    margin: 0 auto;
}

.form {
   display: flex;
   flex-direction: column;
}

.form-input {
    width: 300px;
}

.button-form {
    width: 150px;
    margin-top: 20px;
}