<div class="form-box">
    <form 
    class="form"[formGroup]="form">

        <mat-form-field class="form-input">
            <mat-label>Текст задачи</mat-label>
            <input matInput formControlName="title">
            <mat-error>Некорректное значение</mat-error>
        </mat-form-field>

        <mat-form-field class="form-input">
            <mat-label>Автор задачи</mat-label>
            <input matInput formControlName="userId">
            <mat-error>Некорректное значение</mat-error>
        </mat-form-field>

        <mat-form-field class="form-input">
            <mat-label>Задача завершена</mat-label>
            <input matInput formControlName="completed">
            <mat-error>Некорректное значение</mat-error>
        </mat-form-field>
        <button class="button-form" type="submit" (click)="formInput()" matIconSuffix mat-raised-button [disabled]="form.invalid">Add Todo
            <mat-icon>add</mat-icon>
        </button>
    </form>
</div>